@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  @apply px-4 py-5 mx-auto md:max-w-xl lg:max-w-screen-xl md:px-5;
}
.nav-items-style {
  @apply font-medium tracking-wide  transition-colors duration-200 hover:text-red-700;
}

.triangle {
  height: 0;
  border-left: 20vw solid transparent;
  border-bottom: 58rem solid #1d232a;
}

.customButton {
  @apply btn btn-lg hover:bg-hoverColor active:bg-activeColor bg-primaryColor text-black items-center text-2xl text-center font-semibold px-10  mt-10 rounded-xl transition-colors duration-300;
}

.customBorder {
  border: 6px solid #13ff00;
  border-radius: 56% 44% 63% 37% / 46% 55% 45% 54%;
  filter: drop-shadow(0 0 20px #13ff00);
  transition: 0.5s;
  animation: rotateAnimation 6s linear infinite;
}
.customBorder2 {
  border: 6px solid #13ff00;
  border-radius: 64% 36% 39% 61% / 42% 59% 41% 58%;
  filter: drop-shadow(0 0 20px #13ff00);
  transition: 0.5s;
  animation: rotateAnimation2 6s linear infinite;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateAnimation2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* custom card section(Projects) */
.custom-card {
  @apply relative w-80 h-[400px]  flex flex-col justify-between;
}
.custom-card .img-box {
  @apply relative w-full h-60 bg-[#1d232a] rounded-3xl;
}
.custom-card .img-box::before {
  @apply absolute w-6 h-6 right-1/2 bottom-0  bg-transparent;
  content: "";
  border-radius: 50%;
  box-shadow: 8px 8px 0 #171c21;
}
.custom-card .img-box::after {
  @apply absolute w-6 h-6 right-0 bottom-[70px] bg-transparent;
  content: "";
  border-radius: 50%;
  box-shadow: 8px 8px 0 #171c21;
}
.custom-card .content {
  @apply relative w-full h-[150px] bg-[#1d232a] rounded-3xl rounded-tr-none;
}
.custom-card .content .details {
  @apply absolute bg-[#1d232a] h-20 w-1/2 -top-20 right-0 border-t-8 border-t-secondaryBgColor border-l-8 border-l-secondaryBgColor rounded-tl-3xl;
}
.custom-card .content .details::before {
  @apply absolute w-6 h-6 right-0 bg-transparent;
  content: "";
  border-radius: 50%;
  box-shadow: 8px -8px 0 #171c21;
}
.custom-card .content .details::after {
  @apply absolute w-6 h-6 bottom-0 -left-6 bg-transparent;
  content: "";
  border-radius: 50%;
  box-shadow: 8px 8px 0 #1d232a;
}
