@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  @apply px-4 py-5 mx-auto md:max-w-xl lg:max-w-screen-xl md:px-5;
}
.nav-items-style {
  @apply font-medium tracking-wide  transition-colors duration-200 hover:text-red-700;
}

.triangle {
  height: 0;
  border-left: 20vw solid transparent;
  border-bottom: 58rem solid #1d232a;
}

.customButton {
  @apply btn hover:bg-hoverColor active:bg-activeColor bg-primaryColor text-black text-center font-semibold py-2 w-28 mt-6 rounded-xl transition-colors duration-300;
}
